*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #f2f2f2;
}
.wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-animation: show_toast 1s ease forwards;
}
.wrapper.hide{
    animation: hide_toast 1s ease forwards;
    -webkit-animation: hide_toast 1s ease forwards;
}

@keyframes show_toast{
    0%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    40%{
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    80%,100%{
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
}
}
@keyframes hide_toast{
    0%{
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
}
    40%{
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    80%,100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
}

.wrapper .toast{
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    width: 430px;
    display: flex;
    align-items: center;
    border-left: 5px solid #2ecc71;
    justify-content: space-between;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, .15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.wrapper .toast.offline{
    border-color: #ccc;
}
.toast .content{
    display: flex;
    align-items: center;
}
.toast .content .icon{
    font-size: 25px;
    background: #2ecc71;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.toast.offline .content .icon{
    background: #ccc;
}
.toast .content .details{
    margin-left: 15px;
}
.content .details span{
    font-size: 20px;
    font-weight: 500;
}
.content .details p{
    color: #878787;
}
.toast .close-icon{
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    cursor: pointer;
    color: #878787;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}